.user-form {
    display: flex;
    justify-content: center;
    margin: 20px auto 20px;
    font-size: 20px;
    width: 95%;
}

.user-form input,
.user-form select {
    background: #F3FFC6;
}

.user-form input,
.user-form button,
.user-form select {
    margin: 0 5px;
}

.user-form button {
    background: #243E36;
    color: #C2A83E;
    border: none;
    padding: 0 5px;
    cursor: pointer;
}

@media screen and (max-width: 1400px){
    .user-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .user-form input,
    .user-form select,
    .user-form button {
        width: 70%;
        margin: 0 auto 10px;
        text-align: center;
    }
    .user-form button {
             padding: 5px;
    }
}

.user-form-error-messages {
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    .user-form input,
    .user-form select,
    .user-form button {
        width: 100%;
    }
}