p {
    margin-bottom: 5px;
}
.mobile-user-card {
    padding: 1% 2%;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    background: #243E36;
    color: #E0EEC6;
    border-radius: 5px;
}

.mobile-user-card-divider {
    margin: 5px auto 5px;
    width: 90%;
    height: 1px;
    background: #C2A83E;
}

.click-for-details {
    text-decoration: none;
    color: #C2A83E;
}

.mobile-user-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .mobile-user-card {
        width: 100%;
    }
}

